<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Test</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name"=author" content="">


    <!-- Le styles -->
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/jquery-ui.css" />
    <link href="css/jquery.tocify.css" rel="stylesheet">
    <link href="css/prettify.css" type="text/css" rel="stylesheet" />

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="../assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
    <style>
    body {
      padding-top: 20px;
    }
    p {
      font-size: 16px;
    }
    .headerDoc {
      color: #005580;
    }

@media (max-width: 767px) {
    #toc {
        position: relative;
        width: 100%;
        margin: 0px 0px 20px 0px;
    }
}
    </style>
</head>

<body>
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div id="toc" data-offset-top="50"></div>
        </div>

        <div class="span9">
            <div class="hero-unit">
                <h1>Documentation</h1>
                <p>
                <b>Documentation for your project</b>
                </p>
                <p>
                Here you go then, some help and advice
                </p>
            </div>

            {{{ md_content }}}
        </div>
      </div>
    </div>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery-1.8.2.min.js"></script>
    <script src="js/jquery-ui-1.9.1.custom.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/jquery.tocify.js"></script>
    <script src="js/prettify.js"></script>
    <script>
        $(function() {

            $("#toc").tocify({ selectors: "h1, h2, h3, h4, h5", hashGenerator: "pretty" }).data("tocify");

            prettyPrint();
            $(".optionName").popover({ trigger: "hover" });
            $("a[href='#']").click(function(event) {
 
                event.preventDefault();

            });

        });
    </script>
</body>
</html>    